.frameMonitor{
    border: solid 5px black;
    width: 65vw;
    height: 80vh;
background-color: #87c06d;
display: flex;
border-radius: 5px;
flex-direction: column;
padding: 3vw 6vw;

align-items: center;
justify-content: center;
}
.pageContainer{
width: 100%;
height: 100%;



}
.navbar{
position: absolute;
bottom: 0;
margin: 5px;
display: flex;
justify-content: center;
width: 100%;
z-index: 0;
}
.clockTime{
 position: absolute;
 top: 0;
 right: 0;
  color: #fff;




}
.buttomNav{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.innerFrameMonitor{
border: solid 5px black;
width: 65vw;
height: auto;
padding: 2vw;
    background: repeating-linear-gradient(135deg, #5c5c5c 0, #446931 2px, transparent 1px, transparent 4px);

    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    }
.screenContainer{
    overflow: hidden;
border: solid black 5px;
width: 100%;


 height: 70vh;
  position: relative; /* Esto es clave */
 








    background-color: #323069;

    border-radius: 5px;
}
.frameButtomMonitor{

width: 100%;
display: flex;
justify-content: right;
margin-right: 120px;

margin-top: 10px;
        }

        .buttomOn{

width: 40px;
height: 40px;
box-shadow: 2px 2px 0 2px  #223618 ;
background-color: #42692f;
border-radius: 5px;
border: 2px solid #223e2a;
        

&:active{

    box-shadow: inset -2px -2px 0 -2px  #223618 ;




}

}