body {
  margin: 0;
  font-family: 'Silkscreen', monospace, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url('../public//cursor.png'), auto;


 cursor: url('../public/hand.png'), pointer;
  background-color: #071820;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  cursor: url('../public//cursor.png'), auto;
  font-family: 'Silkscreen', monospace, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
width: auto;
 cursor: url('../public/hand.png'), pointer;


}
div{
  cursor: url('../public//cursor.png'), auto;







}
iframe{

  cursor: url('../public//cursor.png'), auto;




}